[Unit]
Description=System services for Drone Shot

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
ExecStart=PATH_TO_EXE
WorkingDirectory=PATH_TO_DIST
FailureAction=reboot
KillSignal=SIGINT
